<h1>Welcome to Fundsy</h1>
<h2>Listing all Campaigns</h2>

<ul>
  <% @entire_campaigns.each do |c| %>
    <div class="well">
      <%= link_to c.title, campaign_path(c) %>
    </div>
  <% end %>
</ul>